steps:
# Build images.
- name: 'gcr.io/cloud-builders/bazel'
  args: ['run', '//:docker-17.05.0', '--verbose_failures']
- name: 'gcr.io/cloud-builders/bazel'
  args: ['run', '//:docker-17.06.1', '--verbose_failures']

# Retag to desired image names.
- name: 'gcr.io/cloud-builders/docker'
  args: ['tag', 'bazel:docker-17.05.0', 'gcr.io/$PROJECT_ID/docker:17.05']
- name: 'gcr.io/cloud-builders/docker'
  args: ['tag', 'bazel:docker-17.06.1', 'gcr.io/$PROJECT_ID/docker:17.06.1']

# Tag the latest version as :latest.
- name: 'gcr.io/cloud-builders/docker'
  args: ['tag', 'gcr.io/$PROJECT_ID/docker:17.06.1', 'gcr.io/$PROJECT_ID/docker']

# Sanity check each version.
- name: 'gcr.io/$PROJECT_ID/docker:17.05'
  args: ['run', 'hello-world']
- name: 'gcr.io/$PROJECT_ID/docker:17.06.1'
  args: ['run', 'hello-world']

images:
- 'gcr.io/$PROJECT_ID/docker:latest'
- 'gcr.io/$PROJECT_ID/docker:17.05'
- 'gcr.io/$PROJECT_ID/docker:17.06.1'
